@media (prefers-color-scheme: dark) {
    :root {
        /* --color-text- */
        --color-text-primary: #d8e2ec;
        --color-text-secondary: #99a6b5;
        --color-text-tertiary: #d8e2ec;
        --color-text-link: #5fafff;
        /* --color-bg- */
        --color-bg-primary: #1f2327;
        --color-bg-secondary: #24292e;
        --color-bg-tertiary: var(--color-bg-secondary);
        --color-bg-overlay: var(--color-bg-secondary);
        --color-bg-info: var(--color-bg-primary);
        --color-bg-canvas: var(--color-bg-secondary);
        --color-bg-canvas-inset: var(--color-bg-primary);
        /* --color-border- */
        --color-border-primary: #424346;
        --color-border-secondary: var(--color-border-primary);
        --color-border-tertiary: #5e5f63;
        --color-border-overlay: var(--color-border-primary);
        /* --color-btn- */
        --color-btn-text: var(--color-text-primary);
        --color-btn-bg: var(--color-bg-secondary);
        --color-btn-hover-bg: #323940;
        --color-btn-selected-bg: #505b67;
        --color-btn-outline-text: var(--color-text-link);
        --color-btn-outline-hover-bg: #004ea7;
        --color-btn-outline-disabled-bg: #272f38;
        --color-btn-primary-bg: #217d3b;
        /* --color-input- */
        --color-input-bg: var(--color-bg-secondary);
        --color-input-contrast-bg: var(--color-bg-secondary);
        --color-input-border: var(--color-border-primary);
        /* --color-box- */
        --color-box-bg-info: var(--color-bg-secondary);
        --color-box-row-blue-bg: #45474a;
        --color-box-header-blue-bg: #1a334c;
        --color-box-header-blue-border: #27496b;
        /* --color-underlinenav- */
        --color-underlinenav-text: #959da5;
        --color-underlinenav-text-active: var(--color-text-primary);
        --color-underlinenav-text-hover: var(--color-text-primary);
        --color-underlinenav-counter-text: var(--color-text-primary);
        /* --color-tabnav- */
        --color-tabnav-selected-bg: var(--color-bg-secondary);
        /* --color-sidenav- */
        --color-sidenav-selected-bg: #2b3138;
        /* --color-dropdown- */
        --color-dropdown-shadow: rgb(31, 35, 39) 0px 8px 24px 0px;
        /* --color-branch- */
        --color-branch-name-bg: #00396d;
        --color-branch-name-link-bg: var(--color-box-row-blue-bg);
        /* --color-auto- */
        --color-auto-gray-1: var(--color-bg-secondary);
        --color-auto-gray-2: var(--color-border-primary);
        --color-auto-gray-3: var(--color-border-primary);
        --color-auto-gray-7: #8b939a;
        --color-auto-gray-8: #9fa7af;
        --color-auto-gray-9: var(--color-text-primary);
        --color-auto-blue-0: var(--color-bg-secondary);
        --color-auto-blue-2: rgba(3, 102, 214, 0.2);
        --color-auto-blue-9: var(--color-text-link);
        --color-auto-green-2: #3f5244;
        /* --color-topic- */
        --color-topic-tag-text: var(--color-text-link);
        --color-topic-tag-bg: #292e33;
        --color-topic-tag-hover-bg: #34383e;
        /* --color-timeline- */
        --color-timeline-badge-bg: var(--color-bg-secondary);
        --color-timeline-text: var(--color-text-secondary);
        /* --color-state- */
        --color-state-hover-primary-bg: #0256b5;
        --color-state-hover-secondary-bg: var(--color-sidenav-selected-bg);
        /* --color-social- */
        --color-social-count-bg: var(--color-bg-secondary);
        /* --color-calendar-graph- */
        --color-calendar-graph-day-bg: var(--color-bg-secondary);
        /* --color-previewable- */
        --color-previewable-comment-form-bg: var(--color-bg-secondary);
        /* --color-verified- */
        --color-verified-badge-bg: var(--color-bg-secondary);
        --color-verified-badge-border: var(--color-border-primary);
        /* --color-select- */
        --color-select-menu-border-secondary: var(--color-border-primary);
        /* --color-diff- */
        --color-diff-blob-num-text: rgba(190, 223, 255, 0.3);
        --color-diff-blob-hunk-text: rgba(220, 237, 255, 0.7);
        --color-diff-blob-hunk-line-bg: #31373e;
        --color-diff-blob-hunk-num-bg: var(--color-btn-selected-bg);
        --color-diff-blob-addition-line-bg: #314235;
        --color-diff-blob-addition-num-bg: #3f5244;
        --color-diff-blob-addition-word-bg: #64906f;
        --color-diff-blob-deletion-line-bg: #443e3f;
        --color-diff-blob-deletion-num-bg: #635758;
        --color-diff-blob-deletion-word-bg: #a7787d;
        /* --color-shadow- */
        --color-shadow-large: var(--color-bg-primary) 0px 8px 24px;
        /* --color-menu- */
        --color-menu-heading-text: var(--color-text-primary);
        /* --color-markdown- */
        --color-markdown-table-tr-border: var(--color-border-primary);
        --color-markdown-table-border: var(--color-border-primary);
        /* --color-alert */
        --color-alert-info-bg: #1c2a38;
        --color-alert-info-text: #d8e2ec;
        --color-alert-warn-bg: #484119;
        --color-alert-warn-text: #d8e2ec;
    }
    }
    /* others */
    .navigation-focus .AvatarStack-body, [aria-selected=true] .AvatarStack-body {
        background: transparent;
    }
    .signup-prompt-bg {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #151515), linear-gradient(70deg, #1a1f23 32%, #202721);
    }
    /* dark scrollbar */
    ::-webkit-scrollbar {
        height: auto;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #2e353c;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #3a434c;
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: var(--color-bg-primary);
    }
    ::-webkit-scrollbar-button {
        background-color: #2e353c;
    }
    ::-webkit-scrollbar-button:hover {
        background-color: #3a434c;
    }
    ::-webkit-scrollbar-button:active {
        background-color: var(--color-bg-primary);
    }
    /* code highlight */
    .pl-k {
        color: #f97583;
    }
    .pl-c1, .pl-s .pl-v {
        color: #79b8ff;
    }
    .pl-pds, .pl-s, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sra, .pl-sr .pl-sre {
        color: #79b8ff;
    }
    .pl-ent {
        color: #85e89d;
    }
    .pl-c {
        color: #6a737d;
    }
    .pl-e, .pl-en {
        color: #b392f0;
    }
    .pl-s .pl-s1, .pl-smi {
        color: #f97583;
    }
}